<div ng-show="logged">
    <h3 class="col-sm-offset-2 col-sm-10">New Message</h3>
    <form class="form-horizontal" ng-submit="sendMsg()">
        <div class="form-group">
            <label for="to" class="col-sm-2 control-label">To</label>
            <div class="col-sm-8">
                <input ng-model="dest" type="text" class="form-control" id="to" placeholder="2,3... or linus,fey..." required="required">
            </div>
        </div>
        <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-8">
                <input ng-model="subject" type="text" class="form-control" id="subject" placeholder="My Subject" required="required">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-8">
                <textarea ng-model="content" class="form-control" id="content" placeholder="Message Content" rows="5" required="required"></textarea >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
            </div>
        </div>
    </form>
    <div class="alert alert-danger text-center" ng-show="handler.status">{{handler.msg}}</div>
</div>
<div ng-hide="logged">
    <h2>You have to login first</h2>
</div>